// colors
// Цвета после или в процессе вертски поставить в последовательности частоты использования на страницею ВВерху самые используемые
$bodyBckgrColor: #f3f1e9;
$white: #ffffff;
// headers, text, footerlogo,
$h2DarkGrey: #56534c;
// footer nav
$graphiteGrey: #35332f;
// menu btn border,
$grey: #9e9c93;
$lightGrey: #c2beba;
$prepIconsUnitsGrey: #979285;
$quotesGrey: #b6b5b2;
$h3Brown: #a47e5f;
$iconsHazel: #c9b176;
$bthTransp: rgba(86, 83, 76, 0.529);
// prep icons numbers, full recipe btn
$iconsHazelLight: #dfc691;
$navElemsSepia: #d8bba3;
$h3SepiaDark: #c8a593;
$iconShadowBrown: #69503a;
// covers shades
$eggShell: #979285;
$bone: #d5d3cb;
$medCover: #e5e3d9;
$darkCover: #c7c5b9;
// about chef name borders
$boneAboutBorders: #d7d5ca;
//"Special" shdows
$lightShadow: #e7e3d3;
$ftNavBckgr: #eeece1;
$h1HeaderTextShadow: rgba(61,48,41,.5);
//hovers
$menuHdHover: #6D6A63;
$bthTranspHover: rgba(226, 223, 216, 0.53);
$bthReadHover: rgba(195, 192, 186, 0.53);

