@import "colors.scss";

.page-container {
  overflow: hidden;
}

.content-wrapper {
  max-width: 767px;
  margin: 0 auto;
}

.col-50-left, .col-50-right {
  width: 100%;
}

.section-hd {
  font-family: "Alegreya Bold";
  color: $h2DarkGrey;
  font-size: 38px;
}

.section-sub-hd {
  font-family: "Alegreya Bold";
  color: $h3Brown;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.3px;
}

//means paragraph with 'Lato Regular' font-family
.para-lato {
  font-family: "Lato Regular";
  color: $h2DarkGrey;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.5px;
}

//tablet******************************************************************
@media (min-width: 768px) and (max-width: 1023px) {

  .content-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }

  .col-50-left {
    width: 50%;
    display: block;
    float: left;
  }

  .col-50-right {
    width: 50%;
    display: block;
    float: right;
  }

  .section-hd {
    font-size: 45px;
    letter-spacing: 1px;
  }

  .section-sub-hd {
    font-size: 13px;
    letter-spacing: 1.3px;
  }

  .para-lato {
    font-size: 13px;
    letter-spacing: 1.5px;
  }
}

//laptop******************************************************************
@media (min-width: 1024px) and (max-width: 1259px) {
  //.page-container {
  //  max-width: 1259px;
  //  margin: 0 auto;
  //}

  .content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  .col-50-left {
    width: 50%;
    display: block;
    float: left;
  }

  .col-50-right {
    width: 50%;
    display: block;
    float: right;
  }

  .section-hd {
    font-size: 48px;
    letter-spacing: 1px;
  }

  .section-sub-hd {
    font-size: 14px;
    letter-spacing: 1.3px;
  }

  .para-lato {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}

//desktopL******************************************************************
@media (min-width: 1260px) {
  .page-container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .content-wrapper {
    max-width: 1260px;
    margin: 0 auto;
  }

  .col-50-left {
    width: 50%;
    display: block;
    float: left;
  }

  .col-50-right {
    width: 50%;
    display: block;
    float: right;
  }

  .section-hd {
    font-size: 48px;
    letter-spacing: 1px;
  }

  .section-sub-hd {
    font-size: 14px;
    letter-spacing: 1.3px;
  }

  .para-lato {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}