<header>
  <div class="head">
    <div class="hd-logo">Gustoso</div>
    <div class="share-box">
      <ul class="share">
        <li class="share_item twitter"><a href="" class="share_link"></a></li>
        <li class="share_item fb"><a href="" class="share_link"></a></li>
        <li class="share_item insta"><a href="" class="share_link"></a></li>
      </ul>
    </div>
    <!-- попробовать реализовать горизонтальный и вертикальный вариант менюшки меняя стили css без добавления отдельного блока для мобильной версии  -->
    <nav class="hd-nav">
      <ul class="hd-nav_list">
        <li class="hd-nav_item">
          <a href="">welcome</a>
        </li>
        <li class="hd-nav_separator">~</li>
        <li class="hd-nav_item">
          <a href="">menu</a>
        </li>
        <li class="hd-nav_separator">~</li>
        <li class="hd-nav_item">
          <a href="">reservations</a>
        </li>
        <li class="hd-nav_separator">~</li>
        <li class="hd-nav_item">
          <a href="">news</a>
        </li>
        <li class="hd-nav_separator">~</li>
        <li class="hd-nav_item">
          <a href="">contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content-wrapper slogan-box">
    <div class="slogan">
      <h1 class="slogan_title">Pastry with love</h1>
      <p class="slogan_text">We're bringing you fresh ingredients every day in ways you can't resist.</p>
      <!-- текст параграфа отбрасывает минимальную тенюху -->
    </div>
    <button class="menu_btn">our menu</button>
    <!-- попробовать переделать декор с булкой с помощью только одного :after, чтобы не использовать html разметку для стилизации -->
    <div class="header_border-decor"></div>
  </div>
</header>
