.ft-nav {
  @extend %nav;
}

.ft-nav_separator {
  @extend %nav-separator;
}

.ft-logo {
  @extend %logo;
  color: $h2DarkGrey;
}

// tablet
@media (min-width:768px) {


}

// desktopL
@media (min-width: 1260px) {

  .footer {
    padding-bottom: 70px;
  }

  .ft-nav {
    width: 40.8%;
    display: inline-block;
    margin-top: 59px;
    text-align: center;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    //text-shadow: 0px 0px 30px $iconShadowBrown;
    background-color: $ftNavBckgr;
    box-shadow: inset 0px 0px 17px 11px $bodyBckgrColor;
  }

  .ft-nav_item {
    display: inline-block;

    a {
      line-height: 69px;
    }
  }

  .ft-nav_separator {
    padding: 0 6.1%;
  }

  .ft-logo {
    display: inline-block;
    padding: 0 34px 21px 43px;
    vertical-align: bottom;
  }
}

