<footer class="content-wrapper">
    <!--под вопросом - будет ли футер и его содержимое всегда такой же ширины как content-wrapper для других блоков. При необходимости - содать еще один блок-->
  <ul class="ft-nav">
    <!-- с помощью :before или :after реализовать расзделительные знаки-->
    <li class="ft-nav_item"><a href="" class="footer__nav__link">our menu</a></li>
    <li class="hd-nav_separator">~</li>
    <li class="ft-nav_item"><a href="" class="footer__nav__link">gallery</a></li>
      <li class="hd-nav_separator">~</li>
    <li class="ft-nav_item"><a href="" class="footer__nav__link">culture</a></li>
    <li class="ft-logo">Gustoso</li>
    <!--если item в футере будет иметь только свойство display - сделать общий класс nav)_item и использовать его в обоих местах-->
    <li class="ft-nav_item"><a href="" class="footer__nav__link">events</a></li>
      <li class="hd-nav_separator">~</li>
    <li class="ft-nav_item"><a href="" class="footer__nav__link">catering</a></li>
      <li class="hd-nav_separator">~</li>
    <li class="ft-nav_item"><a href="" class="footer__nav__link">visit us</a></li>
  </ul>
</footer>
