<div class="menu-category">
  <div class="menu-category_container content-wrapper">
    <!-- бэкграундом  menu-complete__container сделать колоски, чтобы они накладывались поверх всего контента; сделать так, как на макете не получается, так как этот блок и ограничивает контент создавая поля по бокам-->
      <div class="col-50-left">
          <div class="breakfast">
              <h2 class="breakfast_title">Breakfast</h2>
              <h3 class="section-sub-hd breakfast-sub-hd">7am breakfast? we're open!</h3>
              <div class="breakfast_item">
                  <h4 class="breakfast_title">Full breakfast</h4>
                  <p class="para-lato">Duis ut tortor, et risus, vulputate pretium</p>
                  <span>$12.49</span>
              </div>
              <div class="breakfast_item">
                  <h4 class="breakfast_title">Toast &#38; Jam</h4>
                  <p class="para-lato"> Suspendisse, tempus, nterdum</p>
                  <span>$4.90</span>
              </div>
              <div class="breakfast_item">
                  <h4 class="breakfast_title">Muffins</h4>
                  <p class="para-lato">Fusce eget dui sodales est</p>
                  <span>$3.95</span>
              </div>
          </div>
      </div>
    <!-- в идеале этот блок должен состоять из троих разных элементов (см. шаблон), которые находяться друг под другом и имеют разные стили (шрифты и контент тот же, но размер, размеры шрифтов и отступы изменены). Додумать смысловую нагрузку и js-анимацию для переключения между этими тремя элементами (при каком действии на какой части элемента происходит замена, как элементы позиционируются и прелистываются) -->
    <div class="col-50-right">
      <div class="breakfast-cover_box">
        <div class="breakfast-cover">
          <div class="cover-hd">
            <span>est.</span>
            <span>1893</span>
            <div class="cover_decor"></div>
          </div>
          <h3 class="section-hd">Your morning Escape with Flair</h3>
          <p class="para-lato">Donec vitae sapien ut libero venenatis faucibus.
  Nullam quis ante. Etiam sit amet orci eget eros
   faucibus tincidunt. Duis leo.</p>
          <a href="">read</a>
        </div>
      </div>
    </div>
  </div>
</div>
