<section class="about">
  <div class="about_container content-wrapper">
    <article class="about_content">
      <h2 class="about_title section-hd">Art of cakes</h2>
      <h3 class="about_sub-title section-sub-hd">We create delicious memories</h3>
      <p class="about_text para-lato">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.</p>
      <div class="chef-box">
        <h4 class="chef_title section-hd">chef cook</h4>
        <span class="chef_name">Benito</span>
        <div class="chef_img"></div>
        <span class="chef_name">Gaspare</span>
        <div class="quote-box">
          <span class="quote-mark quote-open">&ldquo;</span>
          <p class="quote_text">Unique creations for unique occasions.</p>
          <span class="quote-mark quote-close">&rdquo;</span>
        </div>
      </div>
    </article>
    <div class="about_media">
      <div class="sticker"><span class="sticker_text">tastes so good!</span></div>
      <div class="media_item top-left"></div>
      <div class="media_item top-right"></div>
      <div class="media_item bottom-left"></div>
      <div class="media_item bottom-right"></div>
    </div>
  </div>
</section>
