.about {
  background: url(../img/about_bckgr.png) center center no-repeat;
}
// создать миксин для одинаковых стилей (миксин с передай параметров или миксин с дефолтным значением,которое потом можно изменять!) или использовать @extend, чтобы стили для заголовков не повторялись снова и снова
.about_title {
  text-align: center;
}

.chef-box {
  width: 100%;
  margin: 0 auto;
  padding-left: 2px;
  text-align: center;
}

.chef_title {
  text-align: center;
  text-transform: capitalize;
}

.chef_name {
  font-family: "Alegreya Regular";
  color: $h2DarkGrey;
  border-top: 1px solid $boneAboutBorders;
  border-bottom: 1px solid $boneAboutBorders;
  text-align: center;
}

.chef_img {
  background: url(../img/sprite.png) -13px center no-repeat;
  width: 100px;
  height: 100px;
}

.quote-box {

}

.quote_text {
  font-family: "Scriptina Regular";
  color: $h3Brown;
  text-align: center;
}

.quote-mark {
  display: block;
  font-family: "Times New Roman";
  color: $quotesGrey;
}

.quote-open {
  text-align: left;
}

.quote-close {
  text-align: right;
}

.top-left {
  background: url(../img/about_food_top_left.jpg) -2px -15px no-repeat;
}

.top-right {
  background: url(../img/about_food_top_right.jpg) -56px -6px no-repeat;
}

.bottom-left {
  background: url(../img/about_food_bottom_left.jpg) -8px -94px no-repeat;
}

.bottom-right {
  background: url(../img/about_food_bottom_right.jpg) -26px -25px no-repeat;
}

// tablet*****************************************************************
@media (max-width: 1023px)  {

}

// laptop*****************************************************************
@media (min-width:1024px) and (max-width: 1259px) {
  .about_container {
    margin-bottom: -12px;
    padding-bottom: 77px;
    @include clearfix;
  }

  .about_title {
    margin: 91px 0 10px 3px;
  }

  .about_sub-title {
    margin-left: 4px;
  }

  .about_text {
    width: 78.73%;
    margin: 0 auto;
    padding: 60px 0 40px;
    line-height: 24px;
  }

  .chef_title {
    margin-bottom: 4px;
    padding-left: 2px;
    font-size: 23px;
  }

  .chef_name {
    display: inline-block;
    width: 111px;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: 0.6px;
    padding-top: 4px;
    vertical-align: top;
    margin-top: 60px;
  }

  .chef_img {
    display: inline-block;
    margin: 40px 21px 0;
  }

  .quote-box {
    width: 410px;
    margin: 9px auto;
  }

  .quote_text {
    width: 240px;
    margin: -4px 84px 0;
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 29px;
  }

  .quote-mark {
    height: 27px;
    font-size: 57px;
  }

  .quote-open {
    margin-top: 13px;
  }

  .about_media {
    margin-top: -180px;
  }

  .media_item {
    display: inline-block;
    margin: 10px 1.59% 7px;
    width: 46.3%;
    height: 250px;
    outline: 5px solid $white;
    outline-offset: -11px;
  }

  .sticker {
    width: 54.45%;
    height: 280px;
    position: relative;
    top: 427px;
    left: 23%;
    background: url(../img/about_sticker.png) center center no-repeat;
    text-align: center;
  }

  .sticker_text {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding-top: 88px;
    font-family: 'Alegreya Regular';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1.4px;
    color: $iconsHazel;
  }
}

// desktopL***************************************************************
@media (min-width: 1260px) {

  .about_container {
    margin-bottom: -10px;
    padding-bottom: 101px;
    @include clearfix;
  }

  .about_title {
    margin: 91px 0 10px 3px;
  }

  .about_sub-title {
    margin-left: 4px;
  }

  .about_text {
    width: 78.73%;
    margin: 0 auto;
    padding: 60px 0 40px;
    line-height: 24px;
  }

  .chef_title {
    margin-bottom: 4px;
    padding-left: 2px;
    font-size: 23px;
  }

  .chef_name {
    display: inline-block;
    width: 111px;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: 0.6px;
    padding-top: 4px;
    vertical-align: top;
    margin-top: 60px;
  }

  .chef_img {
    display: inline-block;
    margin: 40px 21px 0;
  }

  .quote-box {
    width: 410px;
    margin: 9px auto;
  }

  .quote_text {
    width: 240px;
    margin: -4px 84px 0;
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 29px;
  }

  .quote-mark {
    height: 27px;
    font-size: 57px;
  }

  .quote-open {
    margin-top: 13px;
  }

  .about_media {
    margin-top: -180px;
  }

  .media_item {
    display: inline-block;
    margin: 10px 1.59% 7px;
    width: 46.5%;
    height: 250px;
    outline: 5px solid $white;
    outline-offset: -11px;
  }

  .sticker {
    width: 44.45%;
    height: 280px;
    position: relative;
    top: 427px;
    left: 28%;
    background: url(../img/about_sticker.png) center center no-repeat;
    text-align: center;
  }

  .sticker_text {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding-top: 88px;
    font-family: 'Alegreya Regular';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1.4px;
    color: $iconsHazel;
  }
}
