.menu-preview {
  // изменить поиционирование
  max-width: 767px;
  background: url(..//img/menu-preview_bckgr.jpg) center center no-repeat;
  background-size: auto 1035px;

  .cook-time {
    position: relative;
    top: 30px;
    left: 67%;
    z-index: 1;
  }

  .ready-in {
    box-shadow: 0px 20px 80px 0px rgba(105,80,58,0.54);
  }
}

.menu-preview_container {
  padding-bottom: 50px;
}

.menu-preview_widget {
  background-color: $white;
  display: block;
  max-width: 400px;
  margin: -52px auto 0;
  box-shadow: -2px 14px 29px 5px rgba(0,0,0,0.33);
}

.widget_cover {
  background: url(../img/menu_slider_item1.jpg) center center no-repeat;
  // Сюда же должны быть переданы параметры для ::before этого элемент (треугольник-загутый уголок) в случае если в мобильной версии загнутый уголок тоже будет
  width: 100%;
  height: 250px;
  background-size: cover;
}

.widget_content {
  background: url(../img/menu_preview_watermark.png) 175px 168px no-repeat;
  background-size: auto 250px;
  text-align: center;
}

.widget-hd {
  padding: 15px 0 4px;
}

.widget_text {
  padding: 50px 24px 30px;
  line-height: 22px;
}

.raiting {
  display: block;
}

.raiting_item {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.checked-star {
  background: url(../img/sprite.png) -125px -69px no-repeat;
}

.unchecked-star {
  background: url(../img/sprite.png) -139px -69px no-repeat;
}

.widget_slider {
  display: block;
  margin: 30px 0 0 0;
  @include clearfix;
}

.slider_hider {
  width: 237px;
}

.slider_btn {
  display: none;
  width: 34px;
  height: 34px;
  margin-top: 28px;
}

.left-btn {
  float: left;
  background: url(../img/sprite.png) -128px -36px no-repeat;
}

.right-btn {
  float: right;
  background: url(../img/sprite.png) -129px -2px no-repeat;
}

.slider_hider {
  display: inline-block;
  overflow: hidden;
}

.slider_list {
  width: 1000px;
  position: relative;
  @include clearfix;
  // позиционирование с учетом нажатого первого элемента слайдера и прокрученого влево. Должно быть выставлено в ноль и прокручиваться через js
  left: -122px;
}

.slider_item {
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 45px;
}

.pancakes {
  background: url(../img/menu_slider_item1.jpg) 0px 0px no-repeat;
}

.sandwitch {
  background: url(../img/menu_slider_item2.jpg) -59px -30px no-repeat;
}

.berries {
  background: url(../img/menu_slider_item3.jpg) -250px -199px no-repeat;
}

.salad {
  background: url(../img/menu_slider_item4.jpg) -390px -130px no-repeat;
}

.slider_nav {
  display: block;
  margin: 15px auto;
  width: 84px;
  @include clearfix;
}

.slider_nav_item {
  display: block;
  float: left;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  border: 1px solid $navElemsSepia;
  border-radius: 5px;
}

.inactive {
  background-color: $navElemsSepia;
}

// tablet****************************************************************
@media (min-width: 768px) and (max-width: 1023px) {
  .menu-preview {
    max-width: 1023px;
    background: url(../img/menu-preview_bckgr.jpg) -8px -255px no-repeat;
    background-size: auto;

    .cook-time {
      position: relative;
      top: 97px;
      left: -32px;
      z-index: 1;
      float: right;
    }
  }

  .menu-preview_container {
    height: 710px;
    @include clearfix;
  }

  .menu-preview_widget {
    display: block;
    position: relative;
    max-width: 970px;
    height: 512px;
    float: left;
    top: 140px;
    left: 32px;
    margin: 0;
    @include clearfix;
    box-shadow: -2px 14px 29px 5px rgba(0,0,0,0.33);
    border-bottom-left-radius: 90px;
  }

  .widget_cover {
    display: inline-block;
    width: 282px;
    height: 512px;
    // свойство с бэкграундом должно быть завязано на кликнутый элемент в слайдере и передаваться в это свойство
    background: url(../img/menu_slider_item1.jpg) -329px -1px no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 91%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 90%);

    &::before {
      content:"";
      position: absolute;
      top: 461px;
      left: 0px;
      border-style: solid;
      border-width: 50px 0 0 50px;
      border-top-color: $white;
      border-right-color: $white;
      border-bottom-color: $white;
      border-left-color: transparent;
    }
  }

  .widget_content {
    width: 332px;
    height: 586px;
    display: inline-block;
    position: relative;
    left: -4px;
    top: -230px;
    background: url(../img/menu_preview_watermark.png) 69px 279px no-repeat;
    background-size: auto;
    text-align: inherit;
  }

  // Стили заголовков и контента здесь перекликаются, создать функцию-миксин с дефолтными значениями для этих элементов
  .widget-hd {
    position: relative;
    width: 180px;
    top: 148px;
    left: 14px;
    padding: 0;
    text-align: left;
    line-height: 40px;
  }

  .widget-sub-hd {
    position: relative;
    top: 148px;
    left: 17px;
    text-align: left;
    padding: 10px 0 49px;
  }

  .widget_text {
    position: relative;
    top: 146px;
    left: 17px;
    padding: 0;
    text-align: left;
    width: 272px;
  }

  .raiting {
    position: relative;
    top: 190px;
    left: 17px;
  }

  .widget_slider {
    width: 305px;
    position: relative;
    top: 231px;
    left: 16px;
    margin: 0;
  }

  .slider_hider {
    width: 237px;
  }

  .slider_btn {
    display: block;
  }

  .slider_nav {
    margin: 15px auto 0;
  }
}

// laptop****************************************************************
@media (min-width:1024px) and (max-width: 1259px) {
  .menu-preview {
    max-width: 1259px;
    background: url(../img/menu-preview_bckgr.jpg) -8px -255px no-repeat;
    background-size: auto;

    .cook-time {
      position: relative;
      top: 97px;
      left: -60px;
      z-index: 1;
      float: right;
    }
  }

  .menu-preview_container {
    height: 710px;
    @include clearfix;
  }

  .menu-preview_widget {
    display: block;
    position: relative;
    max-width: 970px;
    height: 512px;
    float: left;
    top: 140px;
    left: 62px;
    margin: 0;
    @include clearfix;
    box-shadow: -2px 14px 29px 5px rgba(0,0,0,0.33);
    border-bottom-left-radius: 90px;
  }

  .widget_cover {
    display: inline-block;
    width: 335px;
    height: 512px;
    // свойство с бэкграундом должно быть завязано на кликнутый элемент в слайдере и передаваться в это свойство
    background: url(../img/menu_slider_item1.jpg) -329px -1px no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 91%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 90%);

    &::before {
      content:"";
      position: absolute;
      top: 461px;
      left: 0px;
      border-style: solid;
      border-width: 50px 0 0 50px;
      border-top-color: $white;
      border-right-color: $white;
      border-bottom-color: $white;
      border-left-color: transparent;
    }
  }

  .widget_content {
    width: 484px;
    height: 586px;
    display: inline-block;
    position: relative;
    left: -4px;
    top: -230px;
    text-align: inherit;
    background: url(../img/menu_preview_watermark.png) 275px 287px no-repeat;
    background-size: auto;
  }

  // Стили заголовков и контента здесь перекликаются, создать функцию-миксин с дефолтными значениями для этих элементов
  .widget-hd {
    position: relative;
    top: 148px;
    left: 32px;
    padding: 0;
    text-align: left;
  }

  .widget-sub-hd {
    position: relative;
    top: 148px;
    left: 32px;
    text-align: left;
    padding: 10px 0 62px;
  }

  .widget_text {
    position: relative;
    top: 146px;
    left: 32px;
    padding: 0;
    line-height: 24px;
    text-align: left;
    width: 405px;
  }

  .raiting {
    position: relative;
    top: 190px;
    left: 32px;
  }

  .widget_slider {
    width: 429px;
    position: relative;
    top: 231px;
    left: 32px;
    margin: 0;
  }

  .slider_hider {
    width: 343px;
  }

  .slider_btn {
    display: block;
  }

  .slider_nav {
    margin: 15px auto 0;
  }
}

// desktopL***************************************************************
@media (min-width: 1260px) {
  .menu-preview {
    max-width: 1600px;
    background: url(../img/menu-preview_bckgr.jpg) -8px -255px no-repeat;
    background-size: auto;

    .cook-time {
      position: relative;
      top: 97px;
      left: -95px;
      z-index: 1;
      float: right;
    }
  }

  .menu-preview_container {
    height: 710px;
    @include clearfix;
  }

  .menu-preview_widget {
    display: block;
    position: relative;
    max-width: 970px;
    height: 512px;
    float: left;
    top: 140px;
    left: 95px;
    margin: 0;
    @include clearfix;
    box-shadow: -2px 14px 29px 5px rgba(0,0,0,0.33);
    border-bottom-left-radius: 90px;
  }

  .widget_cover {
    display: inline-block;
    width: 419px;
    height: 512px;
    // свойство с бэкграундом должно быть завязано на кликнутый элемент в слайдере и передаваться в это свойство
    background: url(../img/menu_slider_item1.jpg) -329px -1px no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 91%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%, 0 90%);

    &::before {
  	content:"";
  	position: absolute;
  	top: 461px;
  	left: 0px;
  	border-style: solid;
  	border-width: 50px 0 0 50px;
  	border-top-color: $white;
    border-right-color: $white;
    border-bottom-color: $white;
    border-left-color: transparent;
    }
  }

  .widget_content {
    width: 542px;
    height: 586px;
    display: inline-block;
    position: relative;
    left: -4px;
    top: -230px;
    text-align: inherit;
    background: url(../img/menu_preview_watermark.png) 275px 287px no-repeat;
    background-size: auto;
  }

  // Стили заголовков и контента здесь перекликаются, создать функцию-миксин с дефолтными значениями для этих элементов
  .widget-hd {
    position: relative;
    top: 148px;
    left: 64px;
    padding: 0;
    text-align: left;
  }

  .widget-sub-hd {
    position: relative;
    top: 148px;
    left: 64px;
    text-align: left;
    padding: 10px 0 62px;
  }

  .widget_text {
    position: relative;
    top: 146px;
    left: 64px;
    padding: 0;
    line-height: 24px;
    text-align: left;
    width: 405px;
  }

  .raiting {
    position: relative;
    top: 190px;
    left: 63px;
  }

  .widget_slider {
    width: 429px;
    position: relative;
    top: 231px;
    left: 62px;
    margin: 0;
  }

  .slider_hider {
    width: 343px;
  }

  .slider_btn {
    display: block;
  }

  .slider_nav {
    margin: 15px auto 0;
  }
}
