<div class="menu-preview">
  <div class="menu-preview_container content-wrapper">
    <ul class="cook-time">
      <!-- контент этих маленьких повторяющихся блоков можно запилить с помощью шаблона (в т.ч. и информацию о каждом из блюд (поместить в объект все блюда, где в свою очередь блюдо тоже является объектом)) -->
      <li class="ready-in">
        <h6 class="cook-time-hd">ready in</h6>
        <span class="ready-in_amount">40</span>
        <span class="cook-time-units">mins</span>
      </li>
    </ul>
    <div class="menu-preview_widget">
      <!-- эффект загнутого уголка делаем через :before c треугольником (треугольник должен бросать такую же тенюху как и основной блок) затираем ненужный угол блока (чтобы он не наплывал на бэкгрунд с фоткой) с помощью clip-path: polygon -->
      <div class="widget_cover"></div>
      <!-- Добавить <button class="menu-preview__item__button"></button> с попомщью :before для сворачивания-разворачивания описания блюда и слайдера -->
      <div class="widget_content">
        <!-- элементу menu-preview__item__content задаем бэкграундом водяной знак мельницы -->
        <h2 class="widget-hd section-hd">Tasty pancakes</h2>
        <h3 class="widget-sub-hd section-sub-hd">season favourite</h3>
        <p class="widget_text para-lato">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
        <!-- рейтинг должен быть реализован с помощью js  и завязан на слайдер и информацию о каждом блюде, хранящуюся в объекте -->
        <!-- переделать стили, чтобы картинки шли бэкграундом а не тегами -->
        <ul class="raiting">
          <li class="raiting_item checked-star"></li>
          <li class="raiting_item checked-star"></li>
          <li class="raiting_item checked-star"></li>
          <li class="raiting_item checked-star"></li>
          <li class="raiting_item unchecked-star"></li>
        </ul>
        <div class="widget_slider">
          <div class="slider_btn left-btn"></div>
          <!-- вуставить дополнительный блок в случае прокрутки слайдера -->
          <div class="slider_hider">
            <ul class="slider_list">
              <li class="slider_item pancakes"></li>
              <li class="slider_item sandwitch"></li>
              <li class="slider_item berries"></li>
              <li class="slider_item salad"></li>
            </ul>
          </div>
          <div class="slider_btn right-btn"></div>
          <div class="slider_nav">
            <div class="slider_nav_item"></div>
            <div class="slider_nav_item inactive"></div>
            <div class="slider_nav_item inactive"></div>
            <div class="slider_nav_item inactive"></div>
          </div>
        </div>
      </div>
      <!-- попробовать здесь внутри реализовать уголок с помощью css -->
    </div>
  </div>
</div>
