.recipe-btn {
  @extend %dashed-btn;
}
// tablet
@media (min-width:768px) {

}

// desktopL
@media (min-width: 1260px) {
  .special {
    @include clearfix;

    .cook-time {
      position: relative;
      float: right;
      top: -493px;
      left: -10px;
    }
  }

  .special_hd {
    display: block;
    margin: 0 auto;
    padding-top: 96px;
    width: 480px;
    background: url(../img/special_header_bckgr.png) center center no-repeat;

    h1 {
      text-align: center;
      letter-spacing: 1.2px;
    }
    h2 {
      padding-top: 10px;
      letter-spacing: 1.4px;
    }
  }

  .ingredients-box {
    display: block;
    float: left;
    margin-top: -6px;
    width: 23.4%;
  }

  .ingredients {
    width: 295px;
  }

  .ingredient {
    display: block;
    margin-bottom: 55px;

    h4 {
      margin-left: -4px;
      padding-top: 23px;
      font-family: 'Alegreya Bold';
      color: $h3Brown;
      font-size: 29px;
      text-align: center;
      letter-spacing: 1.2px;
    }
    p {
      padding-top: 19px;
      letter-spacing: 1.4px;
      line-height: 20px;
    }
  }

  .ingredient_img {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 95px;
    border-radius: 50px;
    // временное значение
    box-shadow: 2px 10px 29px -5px rgba(0,0,0,0.5);
  }

  .wheat {
    background: url(../img/ingredient_img1.jpg) -108px -23px no-repeat;
  }

  .egg {
    background: url(../img/ingredient_img2.jpg) -23px -8px no-repeat;
  }

  .ricotta {
    background: url(../img/ingredient_img3.jpg) -31px -3px no-repeat;
  }

  .recipe-preview {
    display: block;
    float: right;
    width: 70%;
  }

  .recipe-btn {
    display: block;
    width: 169px;
    height: 58px;
    position: relative;
    border-color: $iconsHazelLight;
    color: $iconsHazelLight;
    background-color: $white;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .recipe_img {
    position: relative;
    float: left;
    width: 820px;
    height: 537px;
    top: 87px;
    left: 42px;
    border: 10px solid $white;
    background: url(../img/special_img.jpg) center center no-repeat;
  }
}