<div class="special content-wrapper">
  <div class="special_hd">
    <h1 class="section-hd">The Jibarito sandwich</h1>
    <h2 class="section-sub-hd">The best sandwich you've ever tasted!</h2>
  </div>
  <div class="ingredients-box">
    <ul class="ingredients">
      <!-- картинка каждого из ингредиентов должна грузиться по ссылке из объекта соответсвующего ингредиента по средствам js -->
      <li class="ingredient">
        <div class="ingredient_img wheat"></div>
        <!-- каждой картинке подрисовать тень! -->
        <h4 class="ingredients__title">Class aptent</h4>
        <p class="ingredients__text para-lato">Quot alienum persecuti ut eam, nam ad  atqui primis nusquam.</p>
      </li>
      <li class="ingredient">
        <div class="ingredient_img egg"></div>
        <h4 class="ingredients__title">Nulla eget</h4>
        <p class="ingredients__text para-lato">Nullam dictum felis eu pede mollis  pretium Integer tincidunt.</p>
      </li>
      <li class="ingredient">
        <div class="ingredient_img ricotta"></div>
        <h4>Sed nibh purus</h4>
        <p class="para-lato"> Aenean eleifend tellus leo ligula,  porttitor eu, consequat vitae.</p>
      </li>
    </ul>
  </div>
  <div class="recipe-preview">
    <!-- тень должен откидывать каждый из- троих основных элементов этого блока -->
    <div class="recipe_img"></div>
      <button class="recipe-btn">full recipe</button>
    <ul class="cook-time">
      <li class="prep">
        <h6 class="cook-time-hd">prep</h6>
        <span class="cook-time-amount">15</span>
        <span class="cook-time-units">mins</span>
      </li>
      <li class="cook">
        <h6 class="cook-time-hd">cook</h6>
        <span class="cook-time-amount">35</span>
        <span class="cook-time-units">mins</span>
      </li>
      <li class="ready-in">
        <h6 class="cook-time-hd">ready in</h6>
        <span class="ready-in_amount">50</span>
        <span class="cook-time-units">mins</span>
      </li>
    </ul>
  </div>
</div>
