<div class="special content-wrapper">
  <div class="special__header">
    <h1 class="special__title section-hd">the Jibarito sandwich</h1>
    <h2 class="special__title--font section-sub-hd">The best sandwich you've ever tasted!</h2>
  </div>
  <div class="special__ingredients">
    <ul class="special__ingredients__list">
      <!-- картинка каждого из ингредиентов должна грузиться по ссылке из объекта соответсвующего ингредиента по средствам js -->
      <li class="special__ingredients__item1">
        <div class="ingredients__img"></div>
        <!-- каждой картинке подрисовать тень! -->
        <h4 class="ingredients__title">Class aptent</h4>
        <p class="ingredients__text para-lato">Quot alienum persecuti ut eam, nam ad  atqui primis nusquam.</p>
      </li>
      <li class="special__ingredients__item2">
        <div class="ingredients__img"></div>
        <h4 class="ingredients__title">Nulla eget</h4>
        <p class="ingredients__text para-lato">Nullam dictum felis eu pede mollis  pretium Integer tincidunt.</p>
      </li>
      <li class="special__ingredients__item3">
        <div class="ingredients__img"></div>
        <h4 class="ingredients__title">Sed nibh purus</h4>
        <p class="ingredients__text para-lato"> Aenean eleifend tellus leo ligula,  porttitor eu, consequat vitae.</p>
      </li>
    </ul>
  </div>
  <div class="special__recipe">
    <!-- тень должен откидывать каждый из- троих основных элементов этого блока -->
    <div class="special__recipe__img"></div>
      <button class="recipe-btn">full recipe</button>
      <!--<a href="" class="special__recipe__link"></a>-->
    <ul class="cook-time">
      <li class="prep">
        <h6 class="cook-time-hd">prep</h6>
        <span class="cook-time-amount">15</span>
        <span class="cook-time-units">mins</span>
      </li>
      <li class="cook">
        <h6 class="cook-time-hd">cook</h6>
        <span class="cook-time-amount">35</span>
        <span class="cook-time-units">mins</span>
      </li>
      <li class="ready-in">
        <h6 class="cook-time-hd">ready in</h6>
        <span class="ready-in_amount">50</span>
        <span class="cook-time-units">mins</span>
      </li>
    </ul>
  </div>
</div>
